.create-client form > div {
  margin-bottom: 20px;
}
.create-client form .cont-buttons {
  text-align: center;
}
.create-client form textarea {
  min-width: 322px;
  max-width: 322px;
  min-height: 110px;
  max-height: 110px;
}
.create-client .cont-buttons {
  text-align: center;
}
