
.clientList-Cont {
    .radio-container {
        display: inline-block;
        margin-left: 10px;
    }
    .total-wrapper{
        .total{
            font-size: 16px;
        }
        .total, .total-label{
            font-weight: bold;
        }
        button{
            float: right;
        }
    }
    .table-wrapper {
        margin-top: 15px;
        height: 64vh;
        overflow-y: auto; 
        .table {
            thead {
                th {
                    font-weight: normal;
                }
            }
        }
    }
    .modal {
        .modal-content {
            .modal-header {
                .title-inline {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}