.clientList-Cont form.edit-client > div {
  margin: 10px 0 10px 0;
}
.clientList-Cont form.edit-client .inline {
  display: inline-block;
}
.clientList-Cont .table thead th {
  background: #337ab7;
  color: white;
  font-weight: normal;
}
