
    .clientList-Cont {
        form.edit-client {
            > div {
                margin: 10px 0 10px 0;
            }
            .inline {
                display: inline-block;
            }
        }
        .modal-dialog {
            width: 750px;

            .modal-body {
                height: 500px;
            }
        }
    }