.param-menu {
	.menu-list {
		list-style: none;
		font-size: 1em;
		.list-item {
			&:first-child {
				font-weight: bold;
				font-size: 1.1em;
			}
			& + .list-item {
				&:hover {
					background: #3498db;
					color: white;
				}
			}
		}
	}
}