<h4>Crear Nuevo Cliente {{client.costumer.personeria}}</h4>
    <form class="create-client form-inline" name="createClient" novalidate ng-submit="client.validateForm()">
        <div class="col-lg-6">
            <label>Tipo de Personería:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-list"></i></span>
                <select name="tipoper" ng-model="client.costumer.personeria" class="form-control">
                    <option ng-repeat="personeria in client.personeria" ng-selected="{{personeria === client.tipoPer}}">{{personeria}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <label>Tipo de Identificación:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-list"></i></span>
                <select name="tipoId" id="tipoid" class="form-control" ng-model="client.costumer.id">
                    <option ng-repeat="id in client.idsArray" ng-if="id.type === client.costumer.personeria" >{{id.name}}</option>
                </select>
            </div>
        </div>
        <!-- CLiente Natural -->
        <div class="col-lg-4">
            <label>Estado Gen. del Cliente:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-list"></i></span>
                <select class="form-control" name="estado_cliente" ng-model="client.costumer.status"></select>
            </div>
        </div>
        <div class="col-lg-4">
            <label>Servicio:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-list"></i></span>
            <select class="form-control" name="servicio" ng-model="client.costumer.service"></select>
            </div>
        </div>
        <div class="col-lg-4">
            <label>Cant. Extensiones: </label>
            <input class="form-inline" type="number" name="extensiones" ng-model="client.costumer.extens" value="0" min="0" />
        </div>
        <div class="col-lg-6" ng-if="client.costumer.personeria === 'Natural'">
            <label>Primer Nombre:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="form-control" name="primer_nombre" placeholder="Primer Nombre" ng-model="client.costumer.first_name" type="text" ng-maxlength="20" required />
            </div>
        </div>
        <div class="col-lg-6" ng-if="client.costumer.personeria === 'Natural'">
            <label>Segundo Nombre:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="form-control" name="segundo_nombre" placeholder="Segundo Nombre" ng-model="client.costumer.second_name" type="text" value="" ng-maxlength="20"/>
            </div>
        </div>
        <div class="col-lg-6" ng-if="client.costumer.personeria === 'Natural'">
            <label>Primer Apellido:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="form-control" name="primer_apellido" placeholder="Primer Apellido" ng-model="client.costumer.first_last" type="text" ng-maxlength="20" required/>
            </div>
        </div>
        <div class="col-lg-6" ng-if="client.costumer.personeria === 'Natural'">
            <label>Segundo Apellido:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="form-control" name="segundo_apellido" placeholder="Segundo Apellido" ng-model="client.costumer.second_last" type="text" ng-maxlength="20"/>
            </div>
        </div>
        <div class="col-lg-4">
            <label>Barrio o Colonia:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-list"></i></span>
                <select class="form-control" name="barriocolonia" ng-model="client.costumer.bar" ></select>
            </div>
        </div>
        <div class="col-lg-4">
            <label>Télefono:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-pencil"></i></span>
                <input class="form-control" id="phone" placeholder="Teléfono" name="telefono" ng-model="client.costumer.tel" type="tel" value="" ng-maxlength="8" />
            </div>
        </div>
        <div class="col-lg-4">
            <label>Email:</label>
            <div class="input-prepend inline">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input class="form-control" name="email" placeholder="Email" ng-model="client.costumer.email" type="email" ng-maxlength="30"/>
            </div>
        </div>
        <div class="col-lg-6">
            <label>Dirección: </label>
            <textarea class="form-control inline" placeholder="Dirección"  name="direccion" ng-model="client.costumer.dir" ng-maxlength="100" required></textarea>
        </div>
        <div class="col-lg-6">
            <label>Observaciones: </label>
            <textarea class="form-control inline"  name="observaciones" placeholder="Observaciones" ng-model="client.costumer.obs" ng-maxlength="45"></textarea>
        </div>
        {{createClient.primer_nombre.$valid}}
        <input name="btn_crear" id="btn_siguiente" type="submit" class="btn btn-primary" ng-disabled="createClient.user.$dirty && createClient.user.$invalid" value="Crear"></input>
        <input name="btn_cancelar" type="button" value="Cancelar" class="btn"></input>
    </form>
