<div class="clientList-Cont col-lg-12 col-md-12 col-sm-12">
  <h4>Lista de Clientes</h4>
  <div class="col-lg-6 col-md-6 col-sm-6 search-Cont">
    <form class="form-inline">
      <div class="form-group">
        <label for="Buscar Cliente">Buscar Cliente: </label>
        <div class="input-group">
          <div class="input-group-addon"> <span class="add-on"><i class="glyphicon glyphicon-user"></i></span></div>
          <input type="text" class="form-control" id="search_box" placeholder="(Nombre, Apellido, etc)" ng-model="searchWord">
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
    <label>Ver por:</label>
    <div class="radio-container">
      <label class="radio-inline">
        <input type="radio" name="clientOptions" id="cliente_natural" ng-value="1" ng-model="seeFilter" ng-checked="true" ng-change="seeBy()" >Cliente Natural
      </label>
      <label class="radio-inline">
        <input type="radio" name="clientOptions" id="cliente_juridico" ng-value="2" ng-model="seeFilter" ng-change="seeBy()"> Cliente Jurídico
      </label>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 total-wrapper">
  <span class="total-label">Total de Clientes {{seeFilter === 1 ? "Naturales" : "Jurídicos"}} : <span class="total">{{table.body.length}}</span></span>
    <button class="btn btn-success" ng-click="createClient()"><span class="glyphicon glyphicon-plus"></span> Agregar Cliente</button>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 table-wrapper">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th ng-repeat="(key, value) in table.header" ng:class="selectedCls(key)" ng:click="changeSorting(key)">{{value}}</th>
        </tr>
      </thead>
      <tbody>
        <tr  ng-repeat="(key,client) in table.body | orderBy:sort.column:sort.descending | filter: searchWord" ng-click="seeDetails(client)">
          <td ng-repeat=" data in client">{{data}}</td>
        </tr>
        <tr ng-show="table.isLoading">
          <td colspan="{{table.header.length}}">
            <csc-load-icon></csc-load-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="clientDetail" tabindex="-1" role="dialog" aria-labelledby="Modal">
    <div class="modal-dialog wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title title-inline" id="myModalLabel">Detalle de Cliente: {{modalTitle}}</h4>
          <span class="btn btn-default glyphicon glyphicon-pencil" ng-click="editCustomer()"></span>
        </div>
        <div class="modal-body" >
          <Detalle-Cliente></Detalle-Cliente>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>