<link rel="stylesheet" type="text/css" href="app/login.css" />
<div id="contenedor" class="login-form-container col-lg-4 col-md-4 col-md-offset-4">
    <!-- <h1 id="Titulo" class="title">Sistema de Control de Clientes</h1>  -->
    <div class="form-horizontal col-lg-12 col-md-12 col-sm-12">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <!-- <label for="Usuario" class="col-lg-4 col-md-4 col-sm-5 control-label">Usuario</label> -->
            <!-- <div class="col-lg-7 col-md-7 col-sm-5" ng-class="{'has-error': !validateUser}">
                <input type="text" class="form-control" id="user_input" ng-model="user" placeholder="Nombre del Usuario" required>
                <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" ng-hide="validateUser" aria-hidden="true"></span>
            </div> -->
             <div class="input-group" ng-class="{'has-error': !validateUser}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" id="user_input" ng-model="user" placeholder="Nombre del Usuario" required/>
                <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" ng-hide="validateUser" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <!-- <label for="Contraseña" class="col-lg-4 col-md-4 col-sm-5 control-label">Contraseña</label> -->
           <!--  <div class="col-lg-7 col-md-7 col-sm-5" ng-class="{'has-error': !validatePass}">
                <input type="password" class="form-control" id="pass_input" ng-model="pass" placeholder="Contraseña" required>
                 <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" ng-hide="validatePass" aria-hidden="true"></span>
            </div> -->
            <div class="input-group" ng-class="{'has-error': !validatePass}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock" ></i></span>
                <input class="form-control" type="password" id="pass_input" ng-model="pass" placeholder="Contraseña" required/>
                <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" ng-hide="validatePass" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <button id = "btn_login"class="btn btn-large btn-primary" ng-click="login()">Sign in</button>
        </div>
    </div>
</div>