<div class="rep-cobros-cont col-lg-12 col-md-12 col-sm-12">
	<h4>Reporte de Órdenes de Cobros</h4>
	<div class="filters-wrapper col-lg-12 col-md-12 col-sm-12 form-inline">
		<div class="col-lg-4 col-md-4 col-sm-4 ">
			<label>Barrio/Colonia:</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				<!-- ng-options="option as option.name for option in services track by option.id"  -->
				<select class="form-control" name="servicio" ng-model="neighbor" ></select>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<label>Cobrador Por:</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<!-- ng-options="option as option.name for option in services track by option.id"  -->
				<select class="form-control" name="servicio" ng-model="neighbor" ></select>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<label>Fecha:</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				<!-- ng-options="option as option.name for option in services track by option.id"  -->
				<select class="form-control" name="servicio" ng-model="neighbor" ></select>
			</div>
		</div>
	</div>
</div>