<div>
	<form class="form-inline edit-client">
		<div class="col-lg-6">
			<label>Primer Nombre:</label>
		            <div class="input-prepend inline">
		                <span class="add-on"><i class="glyphicon glyphglyphicon glyphicon-list"></i></span>
		                 <input type="text" class="form-control" id="name" readonly="true" value="{{modalContent.first_name}}">
		            </div>
		</div>
		<div class="col-lg-6">
			<label>Segundo Nombre:</label>
		            <div class="input-prepend inline">
		                <span class="add-on"><i class="glyphicon glyphglyphicon glyphicon-list"></i></span>
		                 <input type="text" class="form-control" id="name" readonly="true" value="{{modalContent.middle_name}}">
		            </div>
		</div>
		<div class="col-lg-6">
			<label>Primer Apellido:</label>
		            <div class="input-prepend inline">
		                <span class="add-on"><i class="glyphicon glyphglyphicon glyphicon-list"></i></span>
		                 <input type="text" class="form-control" id="name" readonly="true" value="{{modalContent.first_last}}">
		            </div>
		</div>
		<div class="col-lg-6">
			<label>Segundo Apellido:</label>
		            <div class="input-prepend inline">
		                <span class="add-on"><i class="glyphicon glyphglyphicon glyphicon-list"></i></span>
		                 <input type="text" class="form-control" id="name" readonly="true" value="{{modalContent.second_last}}">
		            </div>
		</div>
	</form>
</div>