<form class="form-horizontal forma">
                        <div class="form-group">
                            <label for="Usuario" class="col-sm-5 control-label">Usuario</label>
                            <div class="col-sm-5">
                                <span class="add-on"><i class="icon-user"></i></span>
                                <input type="email" class="form-control text-input input-medium user-input" id="user_input" placeholder="Nombre del Usuario">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Contraseña" class="col-sm-5 control-label">Contraseña</label>
                            <div class="col-sm-5">
                                <span class="add-on"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control user-password text-input input-medium" id="pass_input" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-1">
                                <button id = "btn_login"class="btn btn-large btn-primary">Sign in</button>
                            </div>
                        </div>
</form>