.main-content {
    .title {
        text-align: center;
        margin-bottom: 30px;
    }
    .img-container {
        text-align: center;
        .company-logo {
            width: 217px;
            height: 89px;
        }
    }
    .login-form-container {
        font-size: 16px;
        background-color: #f5f5f5;
        p {
            font-weight: bold;
            font-size: 0.75em;
            color: #00536c;
        }
    }
}